---
import { Image } from "astro:assets";
import { Icon } from "astro-icon";
import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/elements/Card.astro";

// Skill Charts
import SkillCards from "../components/elements/SkillCards.astro";

// Images
import ImageAMLD from "../images/conference_organizer_amld.png";
import ImageAuthor from "../images/gael.webp";
import ImageLLMArticle from "../images/article_llm.png";
import ImageUnit8Carbon from "../images/article_unit8_co2.png";
import ImageClimateHackathon from "../images/article_climate_hackathon.png";
import ImageHackJunction from "../images/article_hackjunction.png";
import ImageUnit8Conference from "../images/conference_unit8.png";
import ImageSDSConference from "../images/conference_sds.png";
import ImageEuroPythonConference from "../images/conference_europython.png";
---

<BaseLayout>
  <iframe id="rustiframe" class="w-[512px] h-[512px]" src="./nannousimple" />
  <main class="max-w-[1024px] w-[calc(80%)]">
    <div class="flex flex-row grid grid-cols-1 md:grid-cols-2 justify-between">
      <div class="flex flex-col gap-4 max-w-[600px]">
        <p class="text-black text-base italic mb-0">
          I am an independent developer with 10 years of industry experience
          focusing on building products using data and ML.
        </p>
        <p class="text-black text-base italic mb-0">
          Previously, I served as a Data scientist and Engagement Lead at <a
            href="https://unit8.com">Unit8</a
          >, working on high-impact data projects. These included optimizing factory operations,
          forecasting in supply chains, and developing Azure OpenAI use-cases. During my
          time, the company expanded from 10 to 110 people in about 5 years earning the title of the <a
            href="https://www.ft.com/ft1000-2022"
            >2022 Fastest growing Swiss Company</a
          >.
        </p>
        <p class="text-black text-base italic">
          Before joining Unit8, I was a Data scientist and Product Owner at Swisscom
          where I led the development of a monitoring platform. Additionally, I hold
          a Master's degree in Computer Science from <a href="https://www.epfl.ch/">EPFL</a>.
        </p>
      </div>
      <Image
        class="rounded-full w-[220px] h-[220px] mr-auto ml-auto md:mr-0"
        src={ImageAuthor}
        width={220}
        height={220}
        alt="Gaël Grosch"
      />
    </div>
    <section
      class="flex items-start justify-between mt-[1rem] flex-col sm:flex-row dark:text-light"
    >
      <h3 class="text-xl w-[20rem] mt-[4.0rem] font-black">EXPERIENCE</h3>
      <div class="w-full">
        <div class="my-16">
          <div class="flex justify-between items-center flex-wrap">
            <h3 class="text-xl font-semibold mb-0">
              Data Scientist & Engagement Lead, Unit8
            </h3>
            <p class="text-base mb-0 text-gray-500 dark:text-gray">
              Jan 2019 - Dec 2023
            </p>
          </div>
          <span class="iconify" data-icon="mdi:map-marker" data-inline="false"
          ></span>
          <p class="text-base text-[var(--accent)] mt-1">
            <Icon
              class="h-[1rem] inline mt-[-0.2rem] ml-[-0.2rem] mr-[0.2rem]"
              pack="mdi"
              name="map-marker"
            />Lausanne, Switzerland
          </p>
          <ul class="mt-1">
            <li class="text-base dark:text-gray mb-[1rem]">
              Key projects at Unit8 included:
            </li>
            <li class="text-base mt-2 dark:text-gray">
              <b>• Azure OpenAI Solution Accelerator</b>
              <span class="text-gray-500">(Internal to Unit8)</span><br />
               Initiated and led the creation of an Azure OpenAI accelerator, successfully developing and selling to 6+
              clients in 6 months.
            </li>
            <li class="text-base mt-2 dark:text-gray">
              <b>• Factory Production Optimization</b>
              <span class="text-gray-500"
                >(for a Global Pharmaceutical Company)</span
              ><br />
               Achieved an 11% OEE Improvement translating to savings over 10M+ CHF per year.
            </li>
            <li class="text-base mt-2 dark:text-gray">
              <b>• ML-powered Search Engine</b>
              <span class="text-gray-500">(for a Global Chemical Company)</span
              ><br />
               Developed a new internal product, growing its user base to over 100 weekly users.
            </li>
            <li class="text-base mt-2 dark:text-gray">
              <b>• Make Unit8 Carbon Neutral</b>
              <span class="text-gray-500">(Internal to Unit8)</span><br />
               Led an internal initiative to track, reduce, and compensate for the company's CO<sup>2</sup> emissions.
            </li>
          </ul>
        </div>
        <div class="my-16">
          <div class="flex justify-between items-center flex-wrap">
            <h3 class="text-xl font-semibold mb-0">
              Senior Data Scientist, Swisscom
            </h3>
            <p class="text-base mb-0 text-gray-500 dark:text-gray">
              Sep 2015 - Dec 2018
            </p>
          </div>
          <span class="iconify" data-icon="mdi:map-marker" data-inline="false"
          ></span>
          <p class="text-base text-[var(--accent)] mt-1">
            <Icon
              class="h-[1rem] inline mt-[-0.2rem] ml-[-0.2rem] mr-[0.2rem]"
              pack="mdi"
              name="map-marker"
            />Lausanne, Switzerland
          </p>
          <ul class="mt-1">
            <li class="text-base mt-2 dark:text-gray">
              <b>• Mobile Network Monitoring Platform</b>
              <span class="text-gray-500"></span><br />
                Served as a Product owner and Lead Developer of a new platform, growing the user base to
                80 network engineers.
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section
      class="flex items-start justify-between flex-col sm:flex-row dark:text-light"
    >
      <h3 class="text-xl w-[20rem] mt-[4.0rem] font-black">SKILLS</h3>
    </section>
    <section
      class="flex items-start gap-8 grid grid-cols-1 md:grid-cols-2 justify-between flex-col sm:flex-row dark:text-light"
    >
      <SkillCards />
    </section>
    <section
      class="flex items-start justify-between flex-col sm:flex-row dark:text-light"
    >
      <h3 class="text-xl w-[20rem] mt-[4.0rem] mb-[1rem] font-black">
        ARTICLE & PROJECTS
      </h3>
    </section>
    <section
      class="flex items-start gap-2 grid grid-cols-1 md:grid-cols-2 justify-between flex-col sm:flex-row dark:text-light"
    >
      <Card
        href="https://unit8.com/resources/a-new-era-of-ai-a-practical-guide-to-large-language-models/"
        title="Practical Guide to LLMs (2023)"
        body="An in-depth exploration of practical applications for Large Language models."
        backgroundImage={ImageLLMArticle}
      />
      <Card
        href="https://unit8.com/resources/myclimate-carbon-neutral-company-unit8/"
        title="Unit8 Carbon Neutral (2022)"
        body="Documenting our journey to achieving Carbon Neutrality at Unit8."
        backgroundImage={ImageUnit8Carbon}
      />
      <Card
        href="https://devpost.com/software/unit8-climate"
        title="Microsoft Climate Hackathon - Winner (2021)"
        body="Developed a solution for detecting Methane leaks using satellite imagery."
        backgroundImage={ImageClimateHackathon}
      />
      <Card
        href="https://medium.com/unit8-machine-learning-publication/how-to-win-in-the-largest-hackathon-in-europe-1ccd82716f57"
        title="Hackjunction Hackathon - 2nd place (2019)"
        body="Created a system for detecting free parking places using Computer Vision."
        backgroundImage={ImageHackJunction}
      />
    </section>
    <section
      class="flex items-start justify-between flex-col sm:flex-row dark:text-light"
    >
      <h3 class="text-xl w-[20rem] mt-[4.0rem] mb-[1rem] font-black">
        CONFERENCES
      </h3>
    </section>
    <section
      class="flex items-start gap-2 grid grid-cols-1 md:grid-cols-2 justify-between flex-col sm:flex-row dark:text-light"
    >
      <Card
        href="https://unit8.com/data-connect-breakfast/"
        title="Unit8 Data Connect - Presenter (2023)"
        body="Presented on GenAI topics at the Unit8 annual Data Connect event."
        backgroundImage={ImageUnit8Conference}
      />
      <Card
        href="https://sds2023.ch/forecasting-and-meta-learning"
        title="SDS - Workshop Organizer (2023)"
        body="Organized a workshop on Darts at the Swiss Conference on Data Science."
        backgroundImage={ImageSDSConference}
      />
      <Card
        href="https://medium.com/unit8-machine-learning-publication/ai-manufacturing-key-take-aways-from-the-applied-machine-learning-days-conference-2d8e879f3110"
        title="AMLD - Track Organizer (2022)"
        body="Organized and coordinated the AI & Manufacturing Track."
        backgroundImage={ImageAMLD}
      />
      <Card
        href="https://ep2021.europython.eu/talks/5KySKcS-darts-unifying-time-series-forecasting-models-from-arima-to-deep-learning/"
        title="EuroPython - Presenter (2021)"
        body="Discussed the fast and easy development of forecasting models in Python."
        backgroundImage={ImageEuroPythonConference}
      />
    </section>
  </main>
</BaseLayout>
