---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import "@fontsource/outfit";

type Props = CollectionEntry<"blog">["data"];

const { title, description, author, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={heroImage.url} />
    <style>
      main {
      }
      .hero-image {
        width: 100%;
      }
      .hero-image img {
        display: block;
        margin: 0 auto;
        border-radius: 12px;
        box-shadow: var(--box-shadow);
      }
      .prose {
        width: 100%;
        color: rgb(var(--gray-dark));
      }
      .prose ul {
        list-style: auto;
      }
      img {
        margin: auto;
        margin-top: 3rem;
      }
      .date {
        color: rgb(var(--gray));
      }
      .last-updated-on {
        font-style: italic;
      }
    </style>
  </head>

  <body>
    <Header />
    <main class="font-blog max-w-[860px] w-[calc(80%)]">
      <article class="">
        <div class="hero-image">
          {
            heroImage && (
              <img width={1024} height={510} src={heroImage.url} alt={heroImage.alt} />
            )
          }
        </div>
        <div class="prose">
          <div class="title mb-8">
            <h1 class="text-5xl text-bold mt-16 mb-0">{title}</h1>
            <div class = "flex flex-row gap-4 mb-12">
              <p class="text-gray-500 font-semibold">{author}</p>
              <p>/</p>
              <p class="date italic">
                <FormattedDate date={pubDate} />
              </p>
                {
                  updatedDate && (
                    <p>-</p>
                    <p class="date last-updated-on">
                      Last updated on <FormattedDate date={updatedDate} />
                    </p>
                  )
                }
              </div>
            </div>
          </div>
          <slot />
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
